.extrablog {
  margin-left: 10rem;
  margin-top: 5rem;
  .extrablog--Cards {
    .extrablog--Cards--Img {
      width: 100%;
    }
    .extrablog--Cards--H3 a {
      font-family: "Rufina", serif;
      color: #000a2d;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 15px;
      line-height: 1.2;
      margin-left: 1rem;
      text-decoration: none;
    }
    .extrablog--Cards--H3 a:hover {
      color: rgb(250, 86, 86);
    }
    .extrablog--Cards--P1 {
      font-family: "Rubik", sans-serif;
      color: #10285d;
      font-size: 16px;
      line-height: 30px;
      font-weight: normal;
      margin-bottom: 30px;
      margin-left: 1rem;
    }
    .extrablog--Cards--Icons a {
      text-decoration: none;
      color: #999;
    }
    .extrablog--Cards--Icons a:hover {
      color: rgb(250, 86, 86);
    }
  }
}
