.homebody2 {
  margin-top: 12rem;
  .homebody2--H2 {
    font-size: 48px;
    display: block;
    color: #000a2d;
    font-weight: 600;
    font-family: "Rufina", serif;
    margin-left: 10rem;
    margin-bottom: 0.5rem;
  }
}
