.portfolio1 {
  margin-top: 10rem;
  display: inline-block;
  .portfolio1--H2 {
    font-size: 48px;
    display: block;
    color: #000a2d;
    font-weight: 600;
    font-family: "Rufina", serif;
    margin-left: 10rem;
  }
  .portfolio1--Navbar--Links {
    margin-left: 10rem;
  }
  .portfolio1--Navbar--Links a {
    color: #161e46;
    margin-left: 3rem;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    padding: 10px 20px;
    margin-top: 5rem;
    text-decoration: none;
  }
}
