.home {
  .home--Para1 {
    color: #ec5b53;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 37px;
    text-transform: uppercase;
    margin-left: 10rem;
    font-family: "Rubik", sans-serif;
    margin-top: 12rem;
  }
  .home--H1 {
    color: #002d5b;
    font-size: 80px;
    font-weight: 700;
    margin-left: 10rem;
    text-transform: capitalize;
    font-family: "Rufina", serif;
    line-height: 1.2;
    margin-bottom: 29px;
    margin-top: 5rem;
  }
  .home--Para2 {
    color: #464d65;
    font-family: "Rubik", sans-serif;
    margin-left: 10rem;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
  }
  .home--Buttons {
    .home--Button1 {
      margin-left: 10rem;
      background: #ec5b53;
      padding: 15px 44px;
      text-transform: capitalize;
      font-family: "Rubik", sans-serif;
      color: #fff;
      font-size: 16px;
      border-radius: 5px;
      font-weight: 500;
      letter-spacing: 1px;
      z-index: 1;
    }
    .home--Button2 {
      border: 1px solid #e3c6c6;
      color: #464d65;
      background: none;
      border-radius: 5px;
      text-transform: capitalize;
      padding: 15px 44px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-left: 2rem;
      font-family: "Rubik", sans-serif;
    }
  }
  .home--Img {
    padding: 3rem 1rem 0 5rem;
  }
}
