.all--Content--Links {
  margin-top: 5rem;
  .all--Content--Links--Main {
    width: 100%;
    cursor: pointer;
  }
  .all--Content--Links--Sideimages {
    width: 100%;
    margin-left: -5rem;
    cursor: pointer;
  }
}
