.navbar {
  height: auto;
  .navbar--img {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    margin-top: 1rem;
  }
  .navbar--Links ul li {
    display: inline-block;
    margin-left: 4rem;
    font-size: 16px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    color: #000019;
    list-style-type: none;
    text-decoration: none;
    border-bottom: none;
  }
  .navbar--Links--Content {
    text-decoration: none;
  }
  .navbar--Links Button {
    padding: 0.8rem;
    color: #fff;
    background: #ec5b53;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    text-transform: capitalize;
    z-index: 1;
  }
}
