.homebody--Cards {
  display: flex;
  justify-content: space-evenly;
  text-align: center !important;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 5rem;
  margin-left: 5rem;
  .cardcontent {
    .cardcontent--H3 {
      color: #1c165c;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 21px;
      font-family: "Rubik", sans-serif;
    }
    .cardcontent--Para {
      color: #57667e;
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 2rem;
    }
    .cardcontent--Img {
      color: #ec5b53;
      font-size: 20px;
      display: block;
      margin-top: 20px;
      width: 60px;
      height: 60px;
      padding: 1.2rem;
      background: #fff4f4;
      line-height: 100px;
      text-align: center;
      border-radius: 50px;
      display: inline-block;
    }
  }
}
